@using FaceitParser.Models
@model List<BlacklistModel>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Blacklist | Faceit Parser</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@sweetalert2/theme-dark@5/dark.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
    <link rel="stylesheet" href="~/css/blacklist.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" />
</head>
<div class="s-layout">
    <!-- Sidebar -->
    <div class="s-layout__sidebar">
        <a class="s-sidebar__trigger" href="#0">
            <i class="fa fa-bars"></i>
        </a>
        <nav class="s-sidebar__nav">
            <div class="menu-title">
                <span>Faceit</span>
                <span>Scanner</span>
            </div>
            <ul>
                <li>
                    <a class="s-sidebar__nav-link" href="/"> <i class="fa fa-home"></i><em>Home</em> </a>
                </li>
                <li>
                    <a class="s-sidebar__nav-link" href="../parser"> <i class="fa fa-search"></i><em>Parser</em> </a>
                </li>
                <li>
                    <a class="s-sidebar__nav-link" href="../blacklist"> <i class="fa fa-user-times"></i><em>Blacklist</em> </a>
                </li>

                @if (User?.IsInRole("admin") == true)
                {
                    <li>
                        <a class="s-sidebar__nav-link" href="../users"> <i class="fa fa-users"></i><em>Users</em> </a>
                    </li>
                }
            </ul>
        </nav>
    </div>

    <!-- Content -->
    <main class="s-layout__content">
        <div class="blacklistTable">
            <div class="searchBlock">
                <input class="swal2-input searchInput" required>
                <button for="searchInput" class="button search">Search</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">ProfileId</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        if (Model is not null && Model.Any())
                        {
                            foreach (var player in Model)
                            {
                                    <tr>
                                        <td data-th="ProfileId">@player.ProfileId</td>
                                        <td data-th="Action"><a href="#" id="@player.ProfileId" onclick="Delete('@player.ProfileId');">Delete</a></td>
                                    </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <div class="pageNavigation">
                <button class="button prev">Prev</button>
                <h1 class="pageNum">0</h1>
                <button class="button next">Next</button>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/blacklist.js"></script>
</div>
