<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Parser | Faceit Parser</title>
    <link rel="stylesheet" href="~/css/parserview.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@sweetalert2/theme-dark@5/dark.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
</head>
<div class="s-layout">
    <!-- Sidebar -->
    @await Html.PartialAsync("_Sidebar")

    <!-- Content -->
    <main class="s-layout__content">
        <div class="parserContent">
            <div class="infoContainer">
                <div class="info">
                    <span>Account: </span>
                    <span class="account">0</span>
                </div>
                <div class="info">
                    <span>Games: </span>
                    <span class="games">0</span>
                </div>
                <div class="info">
                    <span>Parsed: </span>
                    <span class="parsed">0</span>
                </div>
                <div class="info">
                    <span>Delay: </span>
                    <span class="delay">0</span>
                </div>
                <div class="info">
                    <span>Total: </span>
                    <span class="total">0</span>
                </div>
                <div class="info">
                    <span>Added: </span>
                    <span class="added">0</span>
                </div>
            </div>
            <div class="tittle">Logs</div>
            <div class="logsContainer" id="logsContainer">
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/parserview.js"></script>
</div>
