<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Parsers | Faceit Parser</title>
    <link rel="stylesheet" href="~/css/sidebar.css" />
    <link rel="stylesheet" href="~/css/parserview.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@sweetalert2/theme-dark@5/dark.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
</head>
<div class="s-layout">
    <!-- Sidebar -->
    <div class="s-layout__sidebar">
        <a class="s-sidebar__trigger" href="#0">
            <i class="fa fa-bars"></i>
        </a>
        <nav class="s-sidebar__nav">
            <div class="menu-title">
                <span>Faceit</span>
                <span>Scanner</span>
            </div>
            <ul>
                <li>
                    <a class="s-sidebar__nav-link" href="/"> <i class="fa fa-home"></i><em>Home</em> </a>
                </li>
                <li>
                    <a class="s-sidebar__nav-link" href="../parser"> <i class="fa fa-search"></i><em>Parser</em> </a>
                </li>
                <li>
                    <a class="s-sidebar__nav-link" href="../blacklist"> <i class="fa fa-user-times"></i><em>Blacklist</em> </a>
                </li>

                <li>
                    <a class="s-sidebar__nav-link" href="../users"> <i class="fa fa-users"></i><em>Users</em> </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Content -->
    <main class="s-layout__content">
        <div class="parserContent">
            <div class="infoContainer">
                <div class="info">
                    <span>Account: </span>
                    <span>test23456</span>
                </div>
                <div class="info">
                    <span>Games: </span>
                    <span>350 (mc)</span>
                </div>
                <div class="info">
                    <span>Parsed: </span>
                    <span>1234565</span>
                </div>
                <div class="info">
                    <span>Delay: </span>
                    <span>123455</span>
                </div>
                <div class="info">
                    <span>Totals: </span>
                    <span>12345678</span>
                </div>
                <div class="info">
                    <span>Added: </span>
                    <span>123455667</span>
                </div>
            </div>
            <div class="logsContainer">
                <div class="tittle">
                    Logs
                </div>
                <p>test</p>
                <p>test</p>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/parserview.js"></script>
</div>
